# Classification

This tutorial uses safeds on **titanic passenger data** to predict who will survive and who will not, using sex as a feature for the prediction.

1. Load your data into a `Table`, the data is available under `docs/tutorials/data/titanic.csv`:

In [1]:
from safeds.data.tabular.containers import Table

titanic = Table.from_csv_file("data/titanic.csv")
#For visualisation purposes we only print out the first 15 rows.
titanic.slice_rows(0, 15)

+-----+----------------------+--------+----------+---+----------+-------+---------------+----------+
|  id | name                 | sex    |      age | … |     fare | cabin | port_embarked | survived |
| --- | ---                  | ---    |      --- |   |      --- | ---   |           --- |      --- |
| i64 | str                  | str    |      f64 |   |      f64 | str   |           str |      i64 |
+==================================================================================================+
|   0 | Abbing, Mr. Anthony  | male   | 42.00000 | … |  7.55000 | null  |   Southampton |        0 |
|   1 | Abbott, Master.      | male   | 13.00000 | … | 20.25000 | null  |   Southampton |        0 |
|     | Eugene Joseph        |        |          |   |          |       |               |          |
|   2 | Abbott, Mr. Rossmore | male   | 16.00000 | … | 20.25000 | null  |   Southampton |        0 |
|     | Edward               |        |          |   |          |       |               |          |
|   3 | Abbott, Mrs. Stanton | female | 35.00000 | … | 20.25000 | null  |   Southampton |        1 |
|     | (Rosa Hun…           |        |          |   |          |       |               |          |
|   4 | Abelseth, Miss.      | female | 16.00000 | … |  7.65000 | null  |   Southampton |        1 |
|     | Karen Marie          |        |          |   |          |       |               |          |
|   … | …                    | …      |        … | … |        … | …     |             … |        … |
|  10 | Adahl, Mr. Mauritz   | male   | 30.00000 | … |  7.25000 | null  |   Southampton |        0 |
|     | Nils Martin          |        |          |   |          |       |               |          |
|  11 | Adams, Mr. John      | male   | 26.00000 | … |  8.05000 | null  |   Southampton |        0 |
|  12 | Ahlin, Mrs. Johan    | female | 40.00000 | … |  9.47500 | null  |   Southampton |        0 |
|     | (Johanna Per…        |        |          |   |          |       |               |          |
|  13 | Aks, Master. Philip  | male   |  0.83330 | … |  9.35000 | null  |   Southampton |        1 |
|     | Frank                |        |          |   |          |       |               |          |
|  14 | Aks, Mrs. Sam (Leah  | female | 18.00000 | … |  9.35000 | null  |   Southampton |        1 |
|     | Rosen)               |        |          |   |          |       |               |          |
+-----+----------------------+--------+----------+---+----------+-------+---------------+----------+

2. Split the titanic dataset into two tables. A training set, that we will use later to implement a training model to predict the survival of passengers, containing 60% of the data, and a testing set containing the rest of the data.
Delete the column `survived` from the test set, to be able to predict it later:

In [2]:
train_table, testing_table = titanic.split_rows(0.6)

test_table = testing_table.remove_columns(["survived"]).shuffle_rows()

3. Use `OneHotEncoder` to create an encoder, that will be used later to transform the training table.
* We use `OneHotEncoder` to transform non-numerical categorical values into numerical representations with values of zero or one. In this example we will transform the values of the sex column, hence they will be used in the model for predicting the surviving of passengers.
* Use the `fit` function of the `OneHotEncoder` to pass the table and the column names, that will be used as features to predict who will survive to the encoder.
* The names of the column before transformation need to be saved, because `OneHotEncoder` changes the names of the fitted `Column`s:

In [3]:
from safeds.data.tabular.transformation import OneHotEncoder

encoder = OneHotEncoder(column_names="sex").fit(train_table)

4. Transform the training table using the fitted encoder, and create a set with the new names of the fitted `Column`s:

In [4]:
transformed_table = encoder.transform(train_table)

5. Mark the `survived` `Column` as the target variable to be predicted. Include some columns only as extra columns, which are completely ignored by the model:

In [5]:
extra_names = ["id", "name", "ticket", "cabin", "port_embarked", "age", "fare"]

train_tabular_dataset = transformed_table.to_tabular_dataset("survived", extra_names=extra_names)

6. Use `RandomForest` classifier as a model for the classification. Pass the "train_tabular_dataset" table to the fit function of the model:

In [6]:
from safeds.ml.classical.classification import RandomForestClassifier

model = RandomForestClassifier()
fitted_model= model.fit(train_tabular_dataset)

7. Use the fitted random forest model, that we trained on the training dataset to predict the survival rate of passengers in the test dataset.
Transform the test data with `OneHotEncoder` first, to be able to pass it to the predict function, that uses our fitted random forest model for prediction:

In [7]:
transformed_test_table = encoder.transform(test_table)

prediction = fitted_model.predict(
    transformed_test_table
)
#For visualisation purposes we only print out the first 15 rows.
prediction.to_table().slice_rows(start=0, length=15)

+------+-------------+----------+-------------+---+------------+------------+-----------+----------+
|   id | name        |      age | siblings_sp | … | port_embar | sex__femal | sex__male | survived |
|  --- | ---         |      --- |       ouses |   | ked        |          e |       --- | ---      |
|  i64 | str         |      f64 |         --- |   | ---        |        --- |        u8 | i64      |
|      |             |          |         i64 |   | str        |         u8 |           |          |
+==================================================================================================+
|  301 | Danoff, Mr. | 27.00000 |           0 | … | Southampto |          0 |         1 | 0        |
|      | Yoto        |          |             |   | n          |            |           |          |
|  477 | Greenfield, | 23.00000 |           0 | … | Cherbourg  |          0 |         1 | 0        |
|      | Mr. William |          |             |   |            |            |           |          |
|      | Bertra…     |          |             |   |            |            |           |          |
|  386 | Farrell,    | 40.50000 |           0 | … | Queenstown |          0 |         1 | 0        |
|      | Mr. James   |          |             |   |            |            |           |          |
|  864 | Newell,     | 31.00000 |           1 | … | Cherbourg  |          1 |         0 | 1        |
|      | Miss.       |          |             |   |            |            |           |          |
|      | Madeleine   |          |             |   |            |            |           |          |
|  267 | Cor, Mr.    | 27.00000 |           0 | … | Southampto |          0 |         1 | 0        |
|      | Ivan        |          |             |   | n          |            |           |          |
|    … | …           |        … |           … | … | …          |          … |         … | …        |
| 1044 | Ryerson,    | 13.00000 |           2 | … | Cherbourg  |          0 |         1 | 1        |
|      | Master.     |          |             |   |            |            |           |          |
|      | John Borie  |          |             |   |            |            |           |          |
|  641 | Keane, Mr.  | 35.00000 |           0 | … | Queenstown |          0 |         1 | 0        |
|      | Daniel      |          |             |   |            |            |           |          |
|  222 | Chambers,   | 33.00000 |           1 | … | Southampto |          1 |         0 | 1        |
|      | Mrs. Norman |          |             |   | n          |            |           |          |
|      | Campbell…   |          |             |   |            |            |           |          |
|  926 | Palsson,    |  8.00000 |           3 | … | Southampto |          1 |         0 | 0        |
|      | Miss.       |          |             |   | n          |            |           |          |
|      | Torborg     |          |             |   |            |            |           |          |
|      | Danira      |          |             |   |            |            |           |          |
|  171 | Burns,      | 41.00000 |           0 | … | Cherbourg  |          1 |         0 | 1        |
|      | Miss.       |          |             |   |            |            |           |          |
|      | Elizabeth   |          |             |   |            |            |           |          |
|      | Margare…    |          |             |   |            |            |           |          |
+------+-------------+----------+-------------+---+------------+------------+-----------+----------+

8. You can test the accuracy of that model with the initial testing_table as follows:

In [8]:
testing_table = encoder.transform(testing_table)

test_tabular_dataset = testing_table.to_tabular_dataset("survived", extra_names=extra_names)
fitted_model.accuracy(test_tabular_dataset)

0.7614503816793893