In this tutorial, we use `safeds` on **Titanic passenger data** to predict who will survive and who will not.

### Loading Data
The data is available under [Titanic - Machine Learning from Disaster](https://www.kaggle.com/c/titanic/data):

In [1]:
from safeds.data.tabular.containers import Table

raw_data = Table.from_csv_file("data/titanic.csv")
#For visualisation purposes we only print out the first 15 rows.
raw_data.slice_rows(length=15)

+-----+----------------------+--------+----------+---+----------+-------+---------------+----------+
|  id | name                 | sex    |      age | … |     fare | cabin | port_embarked | survived |
| --- | ---                  | ---    |      --- |   |      --- | ---   |           --- |      --- |
| i64 | str                  | str    |      f64 |   |      f64 | str   |           str |      i64 |
+==================================================================================================+
|   0 | Abbing, Mr. Anthony  | male   | 42.00000 | … |  7.55000 | null  |   Southampton |        0 |
|   1 | Abbott, Master.      | male   | 13.00000 | … | 20.25000 | null  |   Southampton |        0 |
|     | Eugene Joseph        |        |          |   |          |       |               |          |
|   2 | Abbott, Mr. Rossmore | male   | 16.00000 | … | 20.25000 | null  |   Southampton |        0 |
|     | Edward               |        |          |   |          |       |               |          |
|   3 | Abbott, Mrs. Stanton | female | 35.00000 | … | 20.25000 | null  |   Southampton |        1 |
|     | (Rosa Hun…           |        |          |   |          |       |               |          |
|   4 | Abelseth, Miss.      | female | 16.00000 | … |  7.65000 | null  |   Southampton |        1 |
|     | Karen Marie          |        |          |   |          |       |               |          |
|   … | …                    | …      |        … | … |        … | …     |             … |        … |
|  10 | Adahl, Mr. Mauritz   | male   | 30.00000 | … |  7.25000 | null  |   Southampton |        0 |
|     | Nils Martin          |        |          |   |          |       |               |          |
|  11 | Adams, Mr. John      | male   | 26.00000 | … |  8.05000 | null  |   Southampton |        0 |
|  12 | Ahlin, Mrs. Johan    | female | 40.00000 | … |  9.47500 | null  |   Southampton |        0 |
|     | (Johanna Per…        |        |          |   |          |       |               |          |
|  13 | Aks, Master. Philip  | male   |  0.83330 | … |  9.35000 | null  |   Southampton |        1 |
|     | Frank                |        |          |   |          |       |               |          |
|  14 | Aks, Mrs. Sam (Leah  | female | 18.00000 | … |  9.35000 | null  |   Southampton |        1 |
|     | Rosen)               |        |          |   |          |       |               |          |
+-----+----------------------+--------+----------+---+----------+-------+---------------+----------+

### Spliting the `raw_data` into Train and Test Sets
- **Training set**: Contains 60% of the data and will be used to train the model.
- **Testing set**: Contains 40% of the data and will be used to test the model's accuracy.

In [2]:
train_table, test_table = raw_data.shuffle_rows().split_rows(0.6)

### Removing Low-Quality Columns

In [3]:
train_table.summarize_statistics()

+-----------+-----------+-----------+-----------+---+-----------+-----------+-----------+----------+
| metric    |        id | name      | sex       | … |      fare |     cabin | port_emba | survived |
| ---       |       --- | ---       | ---       |   |       --- |       --- | rked      |      --- |
| str       |       f64 | str       | str       |   |       f64 |       str | ---       |      f64 |
|           |           |           |           |   |           |           | str       |          |
+==================================================================================================+
| min       |   1.00000 | Abbott,   | female    | … |   0.00000 |       A11 | Cherbourg |  0.00000 |
|           |           | Master.   |           |   |           |           |           |          |
|           |           | Eugene    |           |   |           |           |           |          |
|           |           | Joseph    |           |   |           |           |           |          |
| max       | 1307.0000 | van Melke | male      | … | 512.32920 |         T | Southampt |  1.00000 |
|           |         0 | beke, Mr. |           |   |           |           | on        |          |
|           |           | Philemon  |           |   |           |           |           |          |
| mean      | 654.40892 | -         | -         | … |  33.84986 |         - | -         |  0.37707 |
| median    | 658.00000 | -         | -         | … |  14.50000 |         - | -         |  0.00000 |
| standard  | 376.78051 | -         | -         | … |  55.72177 |         - | -         |  0.48496 |
| deviation |           |           |           |   |           |           |           |          |
| distinct  | 785.00000 | 784       | 2         | … | 239.00000 |       134 | 3         |  2.00000 |
| value     |           |           |           |   |           |           |           |          |
| count     |           |           |           |   |           |           |           |          |
| idness    |   1.00000 | 0.9987261 | 0.0025477 | … |   0.30573 | 0.1719745 | 0.0038216 |  0.00255 |
|           |           | 146496815 | 707006369 |   |           | 222929936 | 560509554 |          |
|           |           |           | 425       |   |           |         2 | 14        |          |
| missing   |   0.00000 | 0.0       | 0.0       | … |   0.00127 | 0.7745222 | 0.0       |  0.00000 |
| value     |           |           |           |   |           | 929936306 |           |          |
| ratio     |           |           |           |   |           |           |           |          |
| stability |   0.00127 | 0.0025477 | 0.6522292 | … |   0.04337 | 0.0282485 | 0.7019108 |  0.62293 |
|           |           | 707006369 | 993630573 |   |           | 875706214 | 280254777 |          |
|           |           | 425       |           |   |           |         7 |           |          |
+-----------+-----------+-----------+-----------+---+-----------+-----------+-----------+----------+

We remove certain columns for the following reasons:
1. **high idness**: `id` , `ticket`
2. **high stability**: `parents_children` 
3. **high missing value ratio**: `cabin`

In [4]:
train_table = train_table.remove_columns(["id","ticket", "parents_children", "cabin"])
test_table = test_table.remove_columns(["id","ticket", "parents_children", "cabin"])

### Imputing Columns `age` and `fare`
We fill in missing values in the `age` and `fare` columns with the mean of each column

In [5]:
from safeds.data.tabular.transformation import SimpleImputer

simple_imputer = SimpleImputer(column_names=["age","fare"],strategy=SimpleImputer.Strategy.mean())
fitted_simple_imputer_train, transformed_train_data = simple_imputer.fit_and_transform(train_table)
transformed_test_data = fitted_simple_imputer_train.transform(test_table)

### Using `OneHotEncoder` to `fit_and_transform` the Table
We use `OneHotEncoder` to transform categorical, non-numerical values into numerical representations with values of zero or one. In this example, we will transform the values of the `sex` column, so they can be used in the model to predict passenger survival.
- Use the `fit_and_transform` function of the `OneHotEncoder` to pass the table and the column names to be used as features for the prediction.

In [6]:
from safeds.data.tabular.transformation import OneHotEncoder

fitted_one_hot_encoder_train, transformed_train_data = OneHotEncoder(column_names=["sex", "port_embarked"]).fit_and_transform(transformed_train_data)
transformed_test_data = fitted_one_hot_encoder_train.transform(transformed_test_data)

### Statistics after Imputing / Removing / Encoding
Check the data after cleaning and transformation to ensure the changes were made correctly.

In [7]:
transformed_train_data.summarize_statistics()

+-----------+-----------+----------+-----------+---+-----------+-----------+-----------+-----------+
| metric    | name      |      age | siblings_ | … | sex__fema | port_emba | port_emba | port_emba |
| ---       | ---       |      --- |   spouses |   |        le | rked__Sou | rked__Che | rked__Que |
| str       | str       |      f64 |       --- |   |       --- |  thampton |    rbourg |   enstown |
|           |           |          |       f64 |   |       f64 |       --- |       --- |       --- |
|           |           |          |           |   |           |       f64 |       f64 |       f64 |
+==================================================================================================+
| min       | Abbott,   |  0.16670 |   0.00000 | … |   0.00000 |   0.00000 |   0.00000 |   0.00000 |
|           | Master.   |          |           |   |           |           |           |           |
|           | Eugene    |          |           |   |           |           |           |           |
|           | Joseph    |          |           |   |           |           |           |           |
| max       | van Melke | 76.00000 |   8.00000 | … |   1.00000 |   1.00000 |   1.00000 |   1.00000 |
|           | beke, Mr. |          |           |   |           |           |           |           |
|           | Philemon  |          |           |   |           |           |           |           |
| mean      | -         | 29.54219 |   0.51847 | … |   0.34777 |   0.70191 |   0.20892 |   0.08917 |
| median    | -         | 29.54219 |   0.00000 | … |   0.00000 |   1.00000 |   0.00000 |   0.00000 |
| standard  | -         | 12.74749 |   1.06784 | … |   0.47657 |   0.45771 |   0.40679 |   0.28517 |
| deviation |           |          |           |   |           |           |           |           |
| distinct  | 784       | 90.00000 |   7.00000 | … |   2.00000 |   2.00000 |   2.00000 |   2.00000 |
| value     |           |          |           |   |           |           |           |           |
| count     |           |          |           |   |           |           |           |           |
| idness    | 0.9987261 |  0.11465 |   0.00892 | … |   0.00255 |   0.00255 |   0.00255 |   0.00255 |
|           | 146496815 |          |           |   |           |           |           |           |
| missing   | 0.0       |  0.00000 |   0.00000 | … |   0.00000 |   0.00000 |   0.00000 |   0.00000 |
| value     |           |          |           |   |           |           |           |           |
| ratio     |           |          |           |   |           |           |           |           |
| stability | 0.0025477 |  0.18981 |   0.67006 | … |   0.65223 |   0.70191 |   0.79108 |   0.91083 |
|           | 707006369 |          |           |   |           |           |           |           |
|           | 425       |          |           |   |           |           |           |           |
+-----------+-----------+----------+-----------+---+-----------+-----------+-----------+-----------+

### Mark the `survived` Column as the Target Variable to Be Predicted

In [8]:
tagged_train_table = transformed_train_data.to_tabular_dataset("survived",extra_names=["name"])

### Using `RandomForest` Classifier as a Model for Classification
We use the `RandomForest` classifier as our model and pass the training dataset to the model's `fit` function to train it.

In [9]:
from safeds.ml.classical.classification import RandomForestClassifier

classifier = RandomForestClassifier()
fitted_classifier = classifier.fit(tagged_train_table)

### Using the Trained Random Forest Model to Predict Survival
Use the trained `RandomForest` model to predict the survival rate of passengers in the test dataset. <br>
Pass the `test_table` into the `predict` function, which uses our trained model for prediction.

In [10]:
prediction = fitted_classifier.predict(transformed_test_data)

### Reverse Transforming the `prediction`

In [11]:
reverse_transformed_prediction = prediction.to_table().inverse_transform_table(fitted_one_hot_encoder_train)
#For visualisation purposes we only print out the first 15 rows.
reverse_transformed_prediction.slice_rows(length=15)

+--------------+----------+-------------+-------------+----------+----------+--------+-------------+
| name         |      age | siblings_sp | travel_clas |     fare | survived | sex    | port_embark |
| ---          |      --- |       ouses |           s |      --- |      --- | ---    | ed          |
| str          |      f64 |         --- |         --- |      f64 |      i64 | str    | ---         |
|              |          |         i64 |         i64 |          |          |        | str         |
+==================================================================================================+
| Christy,     | 45.00000 |           0 |           2 | 30.00000 |        1 | female | Southampton |
| Mrs. (Alice  |          |             |             |          |          |        |             |
| Frances)     |          |             |             |          |          |        |             |
| Gheorgheff,  | 29.54219 |           0 |           3 |  7.89580 |        0 | male   | Cherbourg   |
| Mr. Stanio   |          |             |             |          |          |        |             |
| Miles, Mr.   | 29.54219 |           0 |           3 |  8.05000 |        0 | male   | Southampton |
| Frank        |          |             |             |          |          |        |             |
| Foley, Mr.   | 29.54219 |           0 |           3 |  7.75000 |        0 | male   | Queenstown  |
| William      |          |             |             |          |          |        |             |
| Kink-Heilman |  4.00000 |           0 |           3 | 22.02500 |        0 | female | Southampton |
| n, Miss.     |          |             |             |          |          |        |             |
| Luise Gre…   |          |             |             |          |          |        |             |
| …            |        … |           … |           … |        … |        … | …      | …           |
| Zimmerman,   | 29.00000 |           0 |           3 |  7.87500 |        0 | male   | Southampton |
| Mr. Leo      |          |             |             |          |          |        |             |
| Kelly, Mr.   | 44.00000 |           0 |           3 |  8.05000 |        0 | male   | Southampton |
| James        |          |             |             |          |          |        |             |
| Jensen, Mr.  | 48.00000 |           0 |           3 |  7.85420 |        0 | male   | Southampton |
| Niels Peder  |          |             |             |          |          |        |             |
| White, Mr.   | 21.00000 |           0 |           1 | 77.28750 |        0 | male   | Southampton |
| Richard      |          |             |             |          |          |        |             |
| Frasar       |          |             |             |          |          |        |             |
| Smith, Mr.   | 56.00000 |           0 |           1 | 30.69580 |        0 | male   | Cherbourg   |
| James Clinch |          |             |             |          |          |        |             |
+--------------+----------+-------------+-------------+----------+----------+--------+-------------+

### Testing the Accuracy of the Model

In [12]:
fitted_classifier.accuracy(transformed_test_data)

0.7938931297709924