In this tutorial, we use `safeds` on **Titanic passenger data** to predict who will survive and who will not.

### Load your data into a `Table`
- The data is available under `docs/tutorials/data/titanic.csv`:

In [1]:
from safeds.data.tabular.containers import Table

raw_data = Table.from_csv_file("data/titanic.csv")
#For visualisation purposes we only print out the first 15 rows.
raw_data.slice_rows(0, 5)

+-----+----------------------+--------+----------+---+----------+-------+---------------+----------+
|  id | name                 | sex    |      age | … |     fare | cabin | port_embarked | survived |
| --- | ---                  | ---    |      --- |   |      --- | ---   |           --- |      --- |
| i64 | str                  | str    |      f64 |   |      f64 | str   |           str |      i64 |
+==================================================================================================+
|   0 | Abbing, Mr. Anthony  | male   | 42.00000 | … |  7.55000 | null  |   Southampton |        0 |
|   1 | Abbott, Master.      | male   | 13.00000 | … | 20.25000 | null  |   Southampton |        0 |
|     | Eugene Joseph        |        |          |   |          |       |               |          |
|   2 | Abbott, Mr. Rossmore | male   | 16.00000 | … | 20.25000 | null  |   Southampton |        0 |
|     | Edward               |        |          |   |          |       |               |          |
|   3 | Abbott, Mrs. Stanton | female | 35.00000 | … | 20.25000 | null  |   Southampton |        1 |
|     | (Rosa Hun…           |        |          |   |          |       |               |          |
|   4 | Abelseth, Miss.      | female | 16.00000 | … |  7.65000 | null  |   Southampton |        1 |
|     | Karen Marie          |        |          |   |          |       |               |          |
+-----+----------------------+--------+----------+---+----------+-------+---------------+----------+

### Removing olumns with high idness / stability / missing value ratio

In [2]:
raw_data.summarize_statistics()

+-----------+-----------+-----------+-----------+---+-----------+-----------+-----------+----------+
| metric    |        id | name      | sex       | … |      fare |     cabin | port_emba | survived |
| ---       |       --- | ---       | ---       |   |       --- |       --- | rked      |      --- |
| str       |       f64 | str       | str       |   |       f64 |       str | ---       |      f64 |
|           |           |           |           |   |           |           | str       |          |
+==================================================================================================+
| min       |   0.00000 | Abbing,   | female    | … |   0.00000 |       A10 | Cherbourg |  0.00000 |
|           |           | Mr.       |           |   |           |           |           |          |
|           |           | Anthony   |           |   |           |           |           |          |
| max       | 1308.0000 | van Melke | male      | … | 512.32920 |         T | Southampt |  1.00000 |
|           |         0 | beke, Mr. |           |   |           |           | on        |          |
|           |           | Philemon  |           |   |           |           |           |          |
| mean      | 654.00000 | -         | -         | … |  33.29548 |         - | -         |  0.38197 |
| median    | 654.00000 | -         | -         | … |  14.45420 |         - | -         |  0.00000 |
| standard  | 378.02006 | -         | -         | … |  51.75867 |         - | -         |  0.48606 |
| deviation |           |           |           |   |           |           |           |          |
| distinct  | 1309.0000 | 1307      | 2         | … | 281.00000 |       186 | 3         |  2.00000 |
| value     |         0 |           |           |   |           |           |           |          |
| count     |           |           |           |   |           |           |           |          |
| idness    |   1.00000 | 0.9984721 | 0.0015278 | … |   0.21543 | 0.1428571 | 0.0030557 |  0.00153 |
|           |           | 16119175  | 838808250 |   |           | 428571428 | 677616501 |          |
|           |           |           | 573       |   |           |         5 | 145       |          |
| missing   |   0.00000 | 0.0       | 0.0       | … |   0.00076 | 0.7746371 | 0.0015278 |  0.00000 |
| value     |           |           |           |   |           |  27578304 | 838808250 |          |
| ratio     |           |           |           |   |           |           | 573       |          |
| stability |   0.00076 | 0.0015278 | 0.6440030 | … |   0.04587 | 0.0203389 | 0.6993114 |  0.61803 |
|           |           | 838808250 | 557677616 |   |           | 830508474 | 001530222 |          |
|           |           | 573       |           |   |           |        56 |           |          |
+-----------+-----------+-----------+-----------+---+-----------+-----------+-----------+----------+

We remove certain columns for the following reasons:
1. **high idness**: `name`, `id` , `ticket`
2. **high stability**: `parents_children` 
3. **high missing value ratio**: `cabin`

In [3]:
raw_data = raw_data.remove_columns(["name","id","ticket", "parents_children", "cabin"])

### Imputing columns `age` and `fare`
We fill in missing values in the `age` and `fare` columns with the mean of each column

In [4]:
from safeds.data.tabular.transformation import SimpleImputer

simple_transformer = SimpleImputer(column_names=["age","fare"],strategy=SimpleImputer.Strategy.mean())
_, transformed_raw_data = simple_transformer.fit_and_transform(raw_data)

### Using `OneHotEncoder` to create an encoder and fit and transform the table
We use `OneHotEncoder` to transform categorical, non-numerical values into numerical representations with values of zero or one. In this example, we will transform the values of the `sex` column, so they can be used in the model to predict passenger survival.
- Use the `fit_and_transform` function of the `OneHotEncoder` to pass the table and the column names to be used as features for the prediction.

In [5]:
from safeds.data.tabular.transformation import OneHotEncoder

one_hot_encoder = OneHotEncoder(column_names=["sex", "port_embarked"])
transformer_one_hot_encoder, transformed_raw_data = one_hot_encoder.fit_and_transform(transformed_raw_data)

### Reverse transforming `transformed_raw_data`

In [6]:
reverse_transfromed_raw_data = transformed_raw_data.inverse_transform_table(transformer_one_hot_encoder)

### Satistics after imputing / removing / encoding
Check the data after cleaning and transformation to ensure the changes were made correctly.

In [7]:
transformed_raw_data.summarize_statistics()

+-----------+----------+-----------+-----------+---+-----------+-----------+-----------+-----------+
| metric    |      age | siblings_ | travel_cl | … | sex__fema | port_emba | port_emba | port_emba |
| ---       |      --- |   spouses |       ass |   |        le | rked__Sou | rked__Che | rked__Que |
| str       |      f64 |       --- |       --- |   |       --- |  thampton |    rbourg |   enstown |
|           |          |       f64 |       f64 |   |       f64 |       --- |       --- |       --- |
|           |          |           |           |   |           |       f64 |       f64 |       f64 |
+==================================================================================================+
| min       |  0.16670 |   0.00000 |   1.00000 | … |   0.00000 |   0.00000 |   0.00000 |   0.00000 |
| max       | 80.00000 |   8.00000 |   3.00000 | … |   1.00000 |   1.00000 |   1.00000 |   1.00000 |
| mean      | 29.88113 |   0.49885 |   2.29488 | … |   0.35600 |   0.69824 |   0.20626 |   0.09396 |
| median    | 29.88113 |   0.00000 |   3.00000 | … |   0.00000 |   1.00000 |   0.00000 |   0.00000 |
| standard  | 12.88320 |   1.04166 |   0.83784 | … |   0.47900 |   0.45920 |   0.40478 |   0.29189 |
| deviation |          |           |           |   |           |           |           |           |
| distinct  | 99.00000 |   7.00000 |   3.00000 | … |   2.00000 |   2.00000 |   2.00000 |   2.00000 |
| value     |          |           |           |   |           |           |           |           |
| count     |          |           |           |   |           |           |           |           |
| idness    |  0.07563 |   0.00535 |   0.00229 | … |   0.00153 |   0.00153 |   0.00153 |   0.00153 |
| missing   |  0.00000 |   0.00000 |   0.00000 | … |   0.00000 |   0.00000 |   0.00000 |   0.00000 |
| value     |          |           |           |   |           |           |           |           |
| ratio     |          |           |           |   |           |           |           |           |
| stability |  0.20092 |   0.68067 |   0.54163 | … |   0.64400 |   0.69824 |   0.79374 |   0.90604 |
+-----------+----------+-----------+-----------+---+-----------+-----------+-----------+-----------+

### Spliting the `raw_data` into train and test sets
- **Training set**: Contains 60% of the data and will be used to train the model.
- **Testing set**: Contains 40% of the data and will be used to test the model's accuracy.

In [8]:
train_table, test_table = transformed_raw_data.shuffle_rows().split_rows(0.6)

### Mark the `survived` column as the target variable to be predicted

In [9]:
tagged_train_table = train_table.to_tabular_dataset("survived")

## Using `RandomForest` classifier as a model for classification
We use the `RandomForest` classifier as our model and pass the training dataset to the model's `fit` function to train it.

In [10]:
from safeds.ml.classical.classification import RandomForestClassifier

classifier = RandomForestClassifier()
fitted_classifier= classifier.fit(tagged_train_table)

### Using the trained random forest model to predict survival
Use the trained `RandomForest` model to predict the survival rate of passengers in the test dataset.
Pass the `test_table` into the `predict` function, which uses our trained model for prediction.

In [11]:
prediction = fitted_classifier.predict(test_table)
#For visualisation purposes we only print out the first 15 rows.
prediction.to_table().slice_rows(start=0, length=15)

+----------+------------+------------+----------+---+-----------+-----------+-----------+----------+
|      age | siblings_s | travel_cla |     fare | … | port_emba | port_emba | port_emba | survived |
|      --- |     pouses |         ss |      --- |   | rked__Sou | rked__Che | rked__Que |      --- |
|      f64 |        --- |        --- |      f64 |   |  thampton |    rbourg |   enstown |      i64 |
|          |        i64 |        i64 |          |   |       --- |       --- |       --- |          |
|          |            |            |          |   |        u8 |        u8 |        u8 |          |
+==================================================================================================+
| 45.00000 |          0 |          2 | 30.00000 | … |         1 |         0 |         0 |        1 |
| 29.88113 |          0 |          3 |  7.89580 | … |         0 |         1 |         0 |        0 |
| 29.88113 |          0 |          3 |  8.05000 | … |         1 |         0 |         0 |        0 |
| 29.88113 |          0 |          3 |  7.75000 | … |         0 |         0 |         1 |        0 |
|  4.00000 |          0 |          3 | 22.02500 | … |         1 |         0 |         0 |        0 |
|        … |          … |          … |        … | … |         … |         … |         … |        … |
| 29.00000 |          0 |          3 |  7.87500 | … |         1 |         0 |         0 |        0 |
| 44.00000 |          0 |          3 |  8.05000 | … |         1 |         0 |         0 |        0 |
| 48.00000 |          0 |          3 |  7.85420 | … |         1 |         0 |         0 |        0 |
| 21.00000 |          0 |          1 | 77.28750 | … |         1 |         0 |         0 |        0 |
| 56.00000 |          0 |          1 | 30.69580 | … |         0 |         1 |         0 |        0 |
+----------+------------+------------+----------+---+-----------+-----------+-----------+----------+

### Testing the accuracy of the model

In [12]:
test_tabular_dataset = test_table.to_tabular_dataset("survived")
fitted_classifier.accuracy(test_tabular_dataset)

0.7938931297709924