# Data Processing

This tutorial explains how tabular data can be handled and transformed with the `Table` class.

<div class="admonition note">
  <p class="admonition-title">Note</p>
  <p>
    All operations on a <code>Table</code> return a new <code>Table</code>. The original <code>Table</code> will not be changed.
  </p>
</div>

### Create & Load data

1. Load your data into a `Table`:

In [1]:
from safeds.data.tabular.containers import Table

titanic = Table.from_csv_file("data/titanic.csv")

2. Create a `Table` containing only the first 10 rows:

In [2]:
titanic_slice = titanic.slice_rows(length=10)

titanic_slice # just to show the output

+-----+----------------------+--------+----------+---+----------+-------+---------------+----------+
|  id | name                 | sex    |      age | … |     fare | cabin | port_embarked | survived |
| --- | ---                  | ---    |      --- |   |      --- | ---   |           --- |      --- |
| i64 | str                  | str    |      f64 |   |      f64 | str   |           str |      i64 |
+==================================================================================================+
|   0 | Abbing, Mr. Anthony  | male   | 42.00000 | … |  7.55000 | null  |   Southampton |        0 |
|   1 | Abbott, Master.      | male   | 13.00000 | … | 20.25000 | null  |   Southampton |        0 |
|     | Eugene Joseph        |        |          |   |          |       |               |          |
|   2 | Abbott, Mr. Rossmore | male   | 16.00000 | … | 20.25000 | null  |   Southampton |        0 |
|     | Edward               |        |          |   |          |       |               |          |
|   3 | Abbott, Mrs. Stanton | female | 35.00000 | … | 20.25000 | null  |   Southampton |        1 |
|     | (Rosa Hun…           |        |          |   |          |       |               |          |
|   4 | Abelseth, Miss.      | female | 16.00000 | … |  7.65000 | null  |   Southampton |        1 |
|     | Karen Marie          |        |          |   |          |       |               |          |
|   5 | Abelseth, Mr. Olaus  | male   | 25.00000 | … |  7.65000 | F G63 |   Southampton |        1 |
|     | Jorgensen            |        |          |   |          |       |               |          |
|   6 | Abelson, Mr. Samuel  | male   | 30.00000 | … | 24.00000 | null  |     Cherbourg |        0 |
|   7 | Abelson, Mrs. Samuel | female | 28.00000 | … | 24.00000 | null  |     Cherbourg |        1 |
|     | (Hannah W…           |        |          |   |          |       |               |          |
|   8 | Abrahamsson, Mr.     | male   | 20.00000 | … |  7.92500 | null  |   Southampton |        1 |
|     | Abraham Augus…       |        |          |   |          |       |               |          |
|   9 | Abrahim, Mrs. Joseph | female | 18.00000 | … |  7.22920 | null  |     Cherbourg |        1 |
|     | (Sophie H…           |        |          |   |          |       |               |          |
+-----+----------------------+--------+----------+---+----------+-------+---------------+----------+

3. Extract a `Column` from your `Table`:

In [3]:
titanic_slice.get_column("name")

+---------------------------------+
| name                            |
| ---                             |
| str                             |
+=================================+
| Abbing, Mr. Anthony             |
| Abbott, Master. Eugene Joseph   |
| Abbott, Mr. Rossmore Edward     |
| Abbott, Mrs. Stanton (Rosa Hun… |
| Abelseth, Miss. Karen Marie     |
| Abelseth, Mr. Olaus Jorgensen   |
| Abelson, Mr. Samuel             |
| Abelson, Mrs. Samuel (Hannah W… |
| Abrahamsson, Mr. Abraham Augus… |
| Abrahim, Mrs. Joseph (Sophie H… |
+---------------------------------+

4. Combine a list of `Column`s to a `Table` (make sure the `Column`s have the same amount of rows):

In [4]:
Table.from_columns([
    titanic_slice.get_column("name"),
    titanic_slice.get_column("age")
])

+---------------------------------+----------+
| name                            |      age |
| ---                             |      --- |
| str                             |      f64 |
+============================================+
| Abbing, Mr. Anthony             | 42.00000 |
| Abbott, Master. Eugene Joseph   | 13.00000 |
| Abbott, Mr. Rossmore Edward     | 16.00000 |
| Abbott, Mrs. Stanton (Rosa Hun… | 35.00000 |
| Abelseth, Miss. Karen Marie     | 16.00000 |
| Abelseth, Mr. Olaus Jorgensen   | 25.00000 |
| Abelson, Mr. Samuel             | 30.00000 |
| Abelson, Mrs. Samuel (Hannah W… | 28.00000 |
| Abrahamsson, Mr. Abraham Augus… | 20.00000 |
| Abrahim, Mrs. Joseph (Sophie H… | 18.00000 |
+---------------------------------+----------+

5. Drop columns from a `Table`:

In [5]:
titanic_slice.remove_columns([
    "id",
    "name",
    "ticket",
    "cabin",
    "port_embarked",
    "survived"
])

+--------+----------+------------------+------------------+--------------+----------+
| sex    |      age | siblings_spouses | parents_children | travel_class |     fare |
| ---    |      --- |              --- |              --- |          --- |      --- |
| str    |      f64 |              i64 |              i64 |          i64 |      f64 |
+===================================================================================+
| male   | 42.00000 |                0 |                0 |            3 |  7.55000 |
| male   | 13.00000 |                0 |                2 |            3 | 20.25000 |
| male   | 16.00000 |                1 |                1 |            3 | 20.25000 |
| female | 35.00000 |                1 |                1 |            3 | 20.25000 |
| female | 16.00000 |                0 |                0 |            3 |  7.65000 |
| male   | 25.00000 |                0 |                0 |            3 |  7.65000 |
| male   | 30.00000 |                1 |                0 |            2 | 24.00000 |
| female | 28.00000 |                1 |                0 |            2 | 24.00000 |
| male   | 20.00000 |                0 |                0 |            3 |  7.92500 |
| female | 18.00000 |                0 |                0 |            3 |  7.22920 |
+--------+----------+------------------+------------------+--------------+----------+

6. Keep only specified columns of a `Table`:

In [6]:
titanic_slice.remove_columns_except(["name", "survived"])

+---------------------------------+----------+
| name                            | survived |
| ---                             |      --- |
| str                             |      i64 |
+============================================+
| Abbing, Mr. Anthony             |        0 |
| Abbott, Master. Eugene Joseph   |        0 |
| Abbott, Mr. Rossmore Edward     |        0 |
| Abbott, Mrs. Stanton (Rosa Hun… |        1 |
| Abelseth, Miss. Karen Marie     |        1 |
| Abelseth, Mr. Olaus Jorgensen   |        1 |
| Abelson, Mr. Samuel             |        0 |
| Abelson, Mrs. Samuel (Hannah W… |        1 |
| Abrahamsson, Mr. Abraham Augus… |        1 |
| Abrahim, Mrs. Joseph (Sophie H… |        1 |
+---------------------------------+----------+

## Process data

1. Filter rows with a given query:

In [7]:
titanic.remove_rows(
    lambda row: row.get_value("age") < 1
)

+------+---------------------+--------+----------+---+----------+-------+---------------+----------+
|   id | name                | sex    |      age | … |     fare | cabin | port_embarked | survived |
|  --- | ---                 | ---    |      --- |   |      --- | ---   |           --- |      --- |
|  i64 | str                 | str    |      f64 |   |      f64 | str   |           str |      i64 |
+==================================================================================================+
|    0 | Abbing, Mr. Anthony | male   | 42.00000 | … |  7.55000 | null  |   Southampton |        0 |
|    1 | Abbott, Master.     | male   | 13.00000 | … | 20.25000 | null  |   Southampton |        0 |
|      | Eugene Joseph       |        |          |   |          |       |               |          |
|    2 | Abbott, Mr.         | male   | 16.00000 | … | 20.25000 | null  |   Southampton |        0 |
|      | Rossmore Edward     |        |          |   |          |       |               |          |
|    3 | Abbott, Mrs.        | female | 35.00000 | … | 20.25000 | null  |   Southampton |        1 |
|      | Stanton (Rosa Hun…  |        |          |   |          |       |               |          |
|    4 | Abelseth, Miss.     | female | 16.00000 | … |  7.65000 | null  |   Southampton |        1 |
|      | Karen Marie         |        |          |   |          |       |               |          |
|    … | …                   | …      |        … | … |        … | …     |             … |        … |
| 1303 | Yrois, Miss.        | female | 24.00000 | … | 13.00000 | null  |   Southampton |        0 |
|      | Henriette ('Mrs H…  |        |          |   |          |       |               |          |
| 1304 | Zabour, Miss.       | female | 14.50000 | … | 14.45420 | null  |     Cherbourg |        0 |
|      | Hileni              |        |          |   |          |       |               |          |
| 1306 | Zakarian, Mr.       | male   | 26.50000 | … |  7.22500 | null  |     Cherbourg |        0 |
|      | Mapriededer         |        |          |   |          |       |               |          |
| 1307 | Zakarian, Mr. Ortin | male   | 27.00000 | … |  7.22500 | null  |     Cherbourg |        0 |
| 1308 | Zimmerman, Mr. Leo  | male   | 29.00000 | … |  7.87500 | null  |   Southampton |        0 |
+------+---------------------+--------+----------+---+----------+-------+---------------+----------+

## Transform table
1. Transform table using `Imputer`. `Imputer`s replace missing values with other values (e.g. a constant, the mean or the median of the column etc.) depending on the chosen startegy, for example, the following `Imputer` will replace missing values in the given columns of the table with the constant 0:

In [8]:
from safeds.data.tabular.transformation import SimpleImputer

imputer = SimpleImputer(SimpleImputer.Strategy.constant(0), column_names=["age", "fare", "cabin", "port_embarked"]).fit(titanic)
imputer.transform(titanic_slice)

+-----+----------------------+--------+----------+---+----------+-------+---------------+----------+
|  id | name                 | sex    |      age | … |     fare | cabin | port_embarked | survived |
| --- | ---                  | ---    |      --- |   |      --- | ---   |           --- |      --- |
| i64 | str                  | str    |      f64 |   |      f64 | str   |           str |      i64 |
+==================================================================================================+
|   0 | Abbing, Mr. Anthony  | male   | 42.00000 | … |  7.55000 | 0     |   Southampton |        0 |
|   1 | Abbott, Master.      | male   | 13.00000 | … | 20.25000 | 0     |   Southampton |        0 |
|     | Eugene Joseph        |        |          |   |          |       |               |          |
|   2 | Abbott, Mr. Rossmore | male   | 16.00000 | … | 20.25000 | 0     |   Southampton |        0 |
|     | Edward               |        |          |   |          |       |               |          |
|   3 | Abbott, Mrs. Stanton | female | 35.00000 | … | 20.25000 | 0     |   Southampton |        1 |
|     | (Rosa Hun…           |        |          |   |          |       |               |          |
|   4 | Abelseth, Miss.      | female | 16.00000 | … |  7.65000 | 0     |   Southampton |        1 |
|     | Karen Marie          |        |          |   |          |       |               |          |
|   5 | Abelseth, Mr. Olaus  | male   | 25.00000 | … |  7.65000 | F G63 |   Southampton |        1 |
|     | Jorgensen            |        |          |   |          |       |               |          |
|   6 | Abelson, Mr. Samuel  | male   | 30.00000 | … | 24.00000 | 0     |     Cherbourg |        0 |
|   7 | Abelson, Mrs. Samuel | female | 28.00000 | … | 24.00000 | 0     |     Cherbourg |        1 |
|     | (Hannah W…           |        |          |   |          |       |               |          |
|   8 | Abrahamsson, Mr.     | male   | 20.00000 | … |  7.92500 | 0     |   Southampton |        1 |
|     | Abraham Augus…       |        |          |   |          |       |               |          |
|   9 | Abrahim, Mrs. Joseph | female | 18.00000 | … |  7.22920 | 0     |     Cherbourg |        1 |
|     | (Sophie H…           |        |          |   |          |       |               |          |
+-----+----------------------+--------+----------+---+----------+-------+---------------+----------+

2. Transform table using `LabelEncoder`, this will encode categorical features in the chosen `Column`s as integers:

In [9]:
from safeds.data.tabular.transformation import LabelEncoder

encoder = LabelEncoder(column_names=["sex", "port_embarked"]).fit(titanic)
encoder.transform(titanic_slice)

+-----+-------------------------+-----+----------+---+----------+-------+---------------+----------+
|  id | name                    | sex |      age | … |     fare | cabin | port_embarked | survived |
| --- | ---                     | --- |      --- |   |      --- | ---   |           --- |      --- |
| i64 | str                     | u32 |      f64 |   |      f64 | str   |           u32 |      i64 |
+==================================================================================================+
|   0 | Abbing, Mr. Anthony     |   0 | 42.00000 | … |  7.55000 | null  |             0 |        0 |
|   1 | Abbott, Master. Eugene  |   0 | 13.00000 | … | 20.25000 | null  |             0 |        0 |
|     | Joseph                  |     |          |   |          |       |               |          |
|   2 | Abbott, Mr. Rossmore    |   0 | 16.00000 | … | 20.25000 | null  |             0 |        0 |
|     | Edward                  |     |          |   |          |       |               |          |
|   3 | Abbott, Mrs. Stanton    |   1 | 35.00000 | … | 20.25000 | null  |             0 |        1 |
|     | (Rosa Hun…              |     |          |   |          |       |               |          |
|   4 | Abelseth, Miss. Karen   |   1 | 16.00000 | … |  7.65000 | null  |             0 |        1 |
|     | Marie                   |     |          |   |          |       |               |          |
|   5 | Abelseth, Mr. Olaus     |   0 | 25.00000 | … |  7.65000 | F G63 |             0 |        1 |
|     | Jorgensen               |     |          |   |          |       |               |          |
|   6 | Abelson, Mr. Samuel     |   0 | 30.00000 | … | 24.00000 | null  |             1 |        0 |
|   7 | Abelson, Mrs. Samuel    |   1 | 28.00000 | … | 24.00000 | null  |             1 |        1 |
|     | (Hannah W…              |     |          |   |          |       |               |          |
|   8 | Abrahamsson, Mr.        |   0 | 20.00000 | … |  7.92500 | null  |             0 |        1 |
|     | Abraham Augus…          |     |          |   |          |       |               |          |
|   9 | Abrahim, Mrs. Joseph    |   1 | 18.00000 | … |  7.22920 | null  |             1 |        1 |
|     | (Sophie H…              |     |          |   |          |       |               |          |
+-----+-------------------------+-----+----------+---+----------+-------+---------------+----------+

3. Transform table using `OneHotEncoder`, this will create new `Column`s based on unique values in each chosen `Column`:

In [10]:
from safeds.data.tabular.transformation import OneHotEncoder

encoder = OneHotEncoder(column_names=["sex", "port_embarked"]).fit(titanic)
encoder.transform(titanic_slice)

+-----+------------+----------+------------+---+------------+------------+------------+------------+
|  id | name       |      age | siblings_s | … | sex__femal | port_embar | port_embar | port_embar |
| --- | ---        |      --- |     pouses |   | e          | ked__South | ked__Cherb | ked__Queen |
| i64 | str        |      f64 |        --- |   | ---        |     ampton |       ourg | stown      |
|     |            |          |        i64 |   | u8         |        --- |        --- | ---        |
|     |            |          |            |   |            |         u8 |         u8 | u8         |
+==================================================================================================+
|   0 | Abbing,    | 42.00000 |          0 | … | 0          |          1 |          0 | 0          |
|     | Mr.        |          |            |   |            |            |            |            |
|     | Anthony    |          |            |   |            |            |            |            |
|   1 | Abbott,    | 13.00000 |          0 | … | 0          |          1 |          0 | 0          |
|     | Master.    |          |            |   |            |            |            |            |
|     | Eugene     |          |            |   |            |            |            |            |
|     | Joseph     |          |            |   |            |            |            |            |
|   2 | Abbott,    | 16.00000 |          1 | … | 0          |          1 |          0 | 0          |
|     | Mr.        |          |            |   |            |            |            |            |
|     | Rossmore   |          |            |   |            |            |            |            |
|     | Edward     |          |            |   |            |            |            |            |
|   3 | Abbott,    | 35.00000 |          1 | … | 1          |          1 |          0 | 0          |
|     | Mrs.       |          |            |   |            |            |            |            |
|     | Stanton    |          |            |   |            |            |            |            |
|     | (Rosa Hun… |          |            |   |            |            |            |            |
|   4 | Abelseth,  | 16.00000 |          0 | … | 1          |          1 |          0 | 0          |
|     | Miss.      |          |            |   |            |            |            |            |
|     | Karen      |          |            |   |            |            |            |            |
|     | Marie      |          |            |   |            |            |            |            |
|   5 | Abelseth,  | 25.00000 |          0 | … | 0          |          1 |          0 | 0          |
|     | Mr. Olaus  |          |            |   |            |            |            |            |
|     | Jorgensen  |          |            |   |            |            |            |            |
|   6 | Abelson,   | 30.00000 |          1 | … | 0          |          0 |          1 | 0          |
|     | Mr. Samuel |          |            |   |            |            |            |            |
|   7 | Abelson,   | 28.00000 |          1 | … | 1          |          0 |          1 | 0          |
|     | Mrs.       |          |            |   |            |            |            |            |
|     | Samuel     |          |            |   |            |            |            |            |
|     | (Hannah W… |          |            |   |            |            |            |            |
|   8 | Abrahamsso | 20.00000 |          0 | … | 0          |          1 |          0 | 0          |
|     | n, Mr.     |          |            |   |            |            |            |            |
|     | Abraham    |          |            |   |            |            |            |            |
|     | Augus…     |          |            |   |            |            |            |            |
|   9 | Abrahim,   | 18.00000 |          0 | … | 1          |          0 |          1 | 0          |
|     | Mrs.       |          |            |   |            |            |            |            |
|     | Joseph     |          |            |   |            |            |            |            |
|     | (Sophie H… |          |            |   |            |            |            |            |
+-----+------------+----------+------------+---+------------+------------+------------+------------+

 4. Transform table using `RangeScaler`, this will scale the values in the chosen `Column`s to a given range:

In [11]:
from safeds.data.tabular.transformation import RangeScaler

scaler = RangeScaler(0.0, 1.0, column_names="age").fit(titanic)
scaler.transform(titanic_slice)

+-----+-----------------------+--------+---------+---+----------+-------+---------------+----------+
|  id | name                  | sex    |     age | … |     fare | cabin | port_embarked | survived |
| --- | ---                   | ---    |     --- |   |      --- | ---   |           --- |      --- |
| i64 | str                   | str    |     f64 |   |      f64 | str   |           str |      i64 |
+==================================================================================================+
|   0 | Abbing, Mr. Anthony   | male   | 0.52401 | … |  7.55000 | null  |   Southampton |        0 |
|   1 | Abbott, Master.       | male   | 0.16075 | … | 20.25000 | null  |   Southampton |        0 |
|     | Eugene Joseph         |        |         |   |          |       |               |          |
|   2 | Abbott, Mr. Rossmore  | male   | 0.19833 | … | 20.25000 | null  |   Southampton |        0 |
|     | Edward                |        |         |   |          |       |               |          |
|   3 | Abbott, Mrs. Stanton  | female | 0.43633 | … | 20.25000 | null  |   Southampton |        1 |
|     | (Rosa Hun…            |        |         |   |          |       |               |          |
|   4 | Abelseth, Miss. Karen | female | 0.19833 | … |  7.65000 | null  |   Southampton |        1 |
|     | Marie                 |        |         |   |          |       |               |          |
|   5 | Abelseth, Mr. Olaus   | male   | 0.31106 | … |  7.65000 | F G63 |   Southampton |        1 |
|     | Jorgensen             |        |         |   |          |       |               |          |
|   6 | Abelson, Mr. Samuel   | male   | 0.37369 | … | 24.00000 | null  |     Cherbourg |        0 |
|   7 | Abelson, Mrs. Samuel  | female | 0.34864 | … | 24.00000 | null  |     Cherbourg |        1 |
|     | (Hannah W…            |        |         |   |          |       |               |          |
|   8 | Abrahamsson, Mr.      | male   | 0.24843 | … |  7.92500 | null  |   Southampton |        1 |
|     | Abraham Augus…        |        |         |   |          |       |               |          |
|   9 | Abrahim, Mrs. Joseph  | female | 0.22338 | … |  7.22920 | null  |     Cherbourg |        1 |
|     | (Sophie H…            |        |         |   |          |       |               |          |
+-----+-----------------------+--------+---------+---+----------+-------+---------------+----------+

5. Transform table using `StandardScaler`, this will standardize values of chosen `Column`s:

In [12]:
from safeds.data.tabular.transformation import StandardScaler

scaler = StandardScaler(column_names=["age", "travel_class"]).fit(titanic)
scaler.transform(titanic_slice)

+-----+----------------------+--------+----------+---+----------+-------+---------------+----------+
|  id | name                 | sex    |      age | … |     fare | cabin | port_embarked | survived |
| --- | ---                  | ---    |      --- |   |      --- | ---   |           --- |      --- |
| i64 | str                  | str    |      f64 |   |      f64 | str   |           str |      i64 |
+==================================================================================================+
|   0 | Abbing, Mr. Anthony  | male   |  0.84120 | … |  7.55000 | null  |   Southampton |        0 |
|   1 | Abbott, Master.      | male   | -1.17176 | … | 20.25000 | null  |   Southampton |        0 |
|     | Eugene Joseph        |        |          |   |          |       |               |          |
|   2 | Abbott, Mr. Rossmore | male   | -0.96353 | … | 20.25000 | null  |   Southampton |        0 |
|     | Edward               |        |          |   |          |       |               |          |
|   3 | Abbott, Mrs. Stanton | female |  0.35531 | … | 20.25000 | null  |   Southampton |        1 |
|     | (Rosa Hun…           |        |          |   |          |       |               |          |
|   4 | Abelseth, Miss.      | female | -0.96353 | … |  7.65000 | null  |   Southampton |        1 |
|     | Karen Marie          |        |          |   |          |       |               |          |
|   5 | Abelseth, Mr. Olaus  | male   | -0.33881 | … |  7.65000 | F G63 |   Southampton |        1 |
|     | Jorgensen            |        |          |   |          |       |               |          |
|   6 | Abelson, Mr. Samuel  | male   |  0.00825 | … | 24.00000 | null  |     Cherbourg |        0 |
|   7 | Abelson, Mrs. Samuel | female | -0.13057 | … | 24.00000 | null  |     Cherbourg |        1 |
|     | (Hannah W…           |        |          |   |          |       |               |          |
|   8 | Abrahamsson, Mr.     | male   | -0.68588 | … |  7.92500 | null  |   Southampton |        1 |
|     | Abraham Augus…       |        |          |   |          |       |               |          |
|   9 | Abrahim, Mrs. Joseph | female | -0.82470 | … |  7.22920 | null  |     Cherbourg |        1 |
|     | (Sophie H…           |        |          |   |          |       |               |          |
+-----+----------------------+--------+----------+---+----------+-------+---------------+----------+

## Transform column

1. Transform values of "parents_children" `Column` into true or false, depending on whether passenger travelled with parents or children:

In [13]:
titanic_slice.transform_column("parents_children", lambda cell: cell > 0)

+-----+----------------------+--------+----------+---+----------+-------+---------------+----------+
|  id | name                 | sex    |      age | … | fare     | cabin | port_embarked | survived |
| --- | ---                  | ---    |      --- |   | ---      | ---   |           --- |      --- |
| i64 | str                  | str    |      f64 |   | f64      | str   |           str |      i64 |
+==================================================================================================+
|   0 | Abbing, Mr. Anthony  | male   | 42.00000 | … | 7.55000  | null  |   Southampton |        0 |
|   1 | Abbott, Master.      | male   | 13.00000 | … | 20.25000 | null  |   Southampton |        0 |
|     | Eugene Joseph        |        |          |   |          |       |               |          |
|   2 | Abbott, Mr. Rossmore | male   | 16.00000 | … | 20.25000 | null  |   Southampton |        0 |
|     | Edward               |        |          |   |          |       |               |          |
|   3 | Abbott, Mrs. Stanton | female | 35.00000 | … | 20.25000 | null  |   Southampton |        1 |
|     | (Rosa Hun…           |        |          |   |          |       |               |          |
|   4 | Abelseth, Miss.      | female | 16.00000 | … | 7.65000  | null  |   Southampton |        1 |
|     | Karen Marie          |        |          |   |          |       |               |          |
|   5 | Abelseth, Mr. Olaus  | male   | 25.00000 | … | 7.65000  | F G63 |   Southampton |        1 |
|     | Jorgensen            |        |          |   |          |       |               |          |
|   6 | Abelson, Mr. Samuel  | male   | 30.00000 | … | 24.00000 | null  |     Cherbourg |        0 |
|   7 | Abelson, Mrs. Samuel | female | 28.00000 | … | 24.00000 | null  |     Cherbourg |        1 |
|     | (Hannah W…           |        |          |   |          |       |               |          |
|   8 | Abrahamsson, Mr.     | male   | 20.00000 | … | 7.92500  | null  |   Southampton |        1 |
|     | Abraham Augus…       |        |          |   |          |       |               |          |
|   9 | Abrahim, Mrs. Joseph | female | 18.00000 | … | 7.22920  | null  |     Cherbourg |        1 |
|     | (Sophie H…           |        |          |   |          |       |               |          |
+-----+----------------------+--------+----------+---+----------+-------+---------------+----------+