# Data Visualization

## Table & Statistics

First, we need some data to visualize. For this, we use the common example of the Titanic disaster, which is included in our [`safe-ds-examples` package](https://pypi.org/project/safe-ds-examples). Naturally, you can also read your own data.

In [1]:
from safeds_examples.titanic import load_titanic

titanic = load_titanic()

In [2]:
titanic.slice(end=10)

,Name,Sex,Age,Number of Siblings or Spouses Aboard,Number of Parents or Children Aboard,Ticket Number,Travel Class,Fare,Cabin Number,Port of Embarkation,Survived
0,"Abbing, Mr. Anthony",male,42,0,0,C.A. 5547,3,7.55,?,Southampton,0
1,"Abbott, Master. Eugene Joseph",male,13,0,2,C.A. 2673,3,20.25,?,Southampton,0
2,"Abbott, Mr. Rossmore Edward",male,16,1,1,C.A. 2673,3,20.25,?,Southampton,0
3,"Abbott, Mrs. Stanton (Rosa Hunt)",female,35,1,1,C.A. 2673,3,20.25,?,Southampton,1
4,"Abelseth, Miss. Karen Marie",female,16,0,0,348125,3,7.65,?,Southampton,1
5,"Abelseth, Mr. Olaus Jorgensen",male,25,0,0,348122,3,7.65,F G63,Southampton,1
6,"Abelson, Mr. Samuel",male,30,1,0,P/PP 3381,2,24,?,Cherbourg,0
7,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28,1,0,P/PP 3381,2,24,?,Cherbourg,1
8,"Abrahamsson, Mr. Abraham August Johannes",male,20,0,0,SOTON/O2 3101284,3,7.925,?,Southampton,1
9,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)",female,18,0,0,2657,3,7.2292,?,Cherbourg,1