# Getting started

This tutorial uses safeds on **titanic passenger data** to predict who will survive and who will not, using sex and travel class as features for the prediction.

1. Load your data into a `Table`, the data is available under `docs/tutorials/data/titanic.csv`:

In [30]:
from safeds.data.tabular.containers import Table

titanic = Table.from_csv_file("data/titanic.csv")

2. Split the titanic dataset into two tables. A training set, that we will use later to implement a training model to predict the survival of passengers, containing 60% of the data, and a testing set containing the rest of the data.
Delete the column `survived` from the test set, to be able to predict it later:

In [ ]:
split_tuple = titanic.split(0.60)

train_table = split_tuple[0]
test_table = split_tuple[1]

test_table = test_table.remove_columns(["survived"])

3. Use `OneHotEncoder` to create an encoder, that will be used later to transform the training table.
* We use `OneHotEncoder` to transform non-numerical categorical values into numerical representations with values of zero or one. In this example we will transform the values of columns sex and travel_class, hence they will be used in the model for predicting the surviving of passengers.(In this case, travel_class has categorical but not numerical values, OneHotEncoder Would still be the most efficient Encoder to use in this case, since we can pass both columns needed as features at the same time)
* Use the `fit` function of the `OneHotEncoder` to pass the table and the column names, that will be used as features to predict who will survive to the encoder.
* The names of the columns before transformation need to be saved, because `OneHotEncoder` will change the names of the fitted `Column`s:

In [32]:
from safeds.data.tabular.transformation import OneHotEncoder

old_column_names = train_table.column_names
encoder = OneHotEncoder().fit(train_table, ["sex", "travel_class"])

C:\Users\hussi\AppData\Local\Temp\ipykernel_16796\1962289518.py:4: UserWarning: The columns ['travel_class'] contain numerical data. The OneHotEncoder is designed to encode non-numerical values into numerical values
  encoder = OneHotEncoder().fit(train_table, ["sex"])

4. Transform the training table using the fitted encoder, and create a set with the new names of the fitted `Column`s:

In [33]:
transformed_table = encoder.transform(train_table)
new_column_names = transformed_table.column_names
new_columns= set(new_column_names) - set(old_column_names)

5. Tag the `survived` `Column` as the target variable to be predicted. Use the new names of the fitted `Column`s as features, which will be used to make predictions based on the target variable.

In [34]:
tagged_train_table= transformed_table.tag_columns("survived", feature_names=[
    *new_columns
])

6. Use `RandomForest` classifier as a model for the classification. Pass the "tagged_titanic" table to the fit function of the model:

In [35]:
from safeds.ml.classical.classification import RandomForest

model = RandomForest()
fitted_model= model.fit(tagged_train_table)

7. Use the fitted random forest model, that we trained on the training dataset to predict the survival rate of passengers in the test dataset.
Transform the test data with `OneHotEncoder` first, to be able to pass it to the predict function, that uses our fitted random forest model for prediction:

In [36]:
encoder = OneHotEncoder().fit(test_table, ["sex", "travel_class"])
transformed_test_table = encoder.transform(test_table)

fitted_model.predict(
    transformed_test_table
)

C:\Users\hussi\AppData\Local\Temp\ipykernel_16796\1233696435.py:1: UserWarning: The columns ['travel_class'] contain numerical data. The OneHotEncoder is designed to encode non-numerical values into numerical values
  encoder = OneHotEncoder().fit(test_table, ["sex"])

,id,name,sex__male,sex__female,age,siblings_spouses,parents_children,ticket,travel_class__1,travel_class__3,travel_class__2,fare,cabin,port_embarked,survived
0,785,"McGough, Mr. James Robert",1.0,0.0,36.0000,0,0,PC 17473,1.0,0.0,0.0,26.2875,E25,Southampton,0
1,786,"McGovern, Miss. Mary",0.0,1.0,NaN,0,0,330931,0.0,1.0,0.0,7.8792,NaN,Queenstown,0
2,787,"McGowan, Miss. Anna 'Annie'",0.0,1.0,15.0000,0,0,330923,0.0,1.0,0.0,8.0292,NaN,Queenstown,0
3,788,"McGowan, Miss. Katherine",0.0,1.0,35.0000,0,0,9232,0.0,1.0,0.0,7.7500,NaN,Queenstown,0
4,789,"McKane, Mr. Peter David",1.0,0.0,46.0000,0,0,28403,0.0,0.0,1.0,26.0000,NaN,Southampton,0
5,790,"McMahon, Mr. Martin",1.0,0.0,NaN,0,0,370372,0.0,1.0,0.0,7.7500,NaN,Queenstown,0
6,791,"McNamee, Mr. Neal",1.0,0.0,24.0000,1,0,376566,0.0,1.0,0.0,16.1000,NaN,Southampton,0
7,792,"McNamee, Mrs. Neal (Eileen O'Leary)",0.0,1.0,19.0000,1,0,376566,0.0,1.0,0.0,16.1000,NaN,Southampton,0
8,793,"McNeill, Miss. Bridget",0.0,1.0,NaN,0,0,370368,0.0,1.0,0.0,7.7500,NaN,Queenstown,0
9,794,"Meanwell, Miss. (Marion Ogden)",0.0,1.0,NaN,0,0,SOTON/O.Q. 392087,0.0,1.0,0.0,8.0500,NaN,Southampton,0
10,795,"Meek, Mrs. Thomas (Annie Louise Rowley)",0.0,1.0,NaN,0,0,343095,0.0,1.0,0.0,8.0500,NaN,Southampton,0
11,796,"Mellinger, Miss. Madeleine Violet",0.0,1.0,13.0000,0,1,250644,0.0,0.0,1.0,19.5000,NaN,Southampton,1
12,797,"Mellinger, Mrs. (Elizabeth Anne Maidment)",0.0,1.0,41.0000,0,1,250644,0.0,0.0,1.0,19.5000,NaN,Southampton,1
13,798,"Mellors, Mr. William John",1.0,0.0,19.0000,0,0,SW/PP 751,0.0,0.0,1.0,10.5000,NaN,Southampton,0
14,799,"Meo, Mr. Alfonzo",1.0,0.0,55.5000,0,0,A.5. 11206,0.0,1.0,0.0,8.0500,NaN,Southampton,0
15,800,"Mernagh, Mr. Robert",1.0,0.0,NaN,0,0,368703,0.0,1.0,0.0,7.7500,NaN,Queenstown,0
16,801,"Meyer, Mr. August",1.0,0.0,39.0000,0,0,248723,0.0,0.0,1.0,13.0000,NaN,Southampton,0
17,802,"Meyer, Mr. Edgar Joseph",1.0,0.0,28.0000,1,0,PC 17604,1.0,0.0,0.0,82.1708,NaN,Cherbourg,0
18,803,"Meyer, Mrs. Edgar Joseph (Leila Saks)",0.0,1.0,NaN,1,0,PC 17604,1.0,0.0,0.0,82.1708,NaN,Cherbourg,1
19,804,"Midtsjo, Mr. Karl Albert",1.0,0.0,21.0000,0,0,345501,0.0,1.0,0.0,7.7750,NaN,Southampton,0
20,805,"Miles, Mr. Frank",1.0,0.0,NaN,0,0,359306,0.0,1.0,0.0,8.0500,NaN,Southampton,0
21,806,"Millet, Mr. Francis Davis",1.0,0.0,65.0000,0,0,13509,1.0,0.0,0.0,26.5500,E38,Southampton,0
22,807,"Milling, Mr. Jacob Christian",1.0,0.0,48.0000,0,0,234360,0.0,0.0,1.0,13.0000,NaN,Southampton,0
23,808,"Minahan, Dr. William Edward",1.0,0.0,44.0000,2,0,19928,1.0,0.0,0.0,90.0000,C78,Queenstown,0
24,809,"Minahan, Miss. Daisy E",0.0,1.0,33.0000,1,0,19928,1.0,0.0,0.0,90.0000,C78,Queenstown,1
25,810,"Minahan, Mrs. William Edward (Lillian E Thorpe)",0.0,1.0,37.0000,1,0,19928,1.0,0.0,0.0,90.0000,C78,Queenstown,1
26,811,"Mineff, Mr. Ivan",1.0,0.0,24.0000,0,0,349233,0.0,1.0,0.0,7.8958,NaN,Southampton,0
27,812,"Minkoff, Mr. Lazar",1.0,0.0,21.0000,0,0,349211,0.0,1.0,0.0,7.8958,NaN,Southampton,0
28,813,"Mionoff, Mr. Stoytcho",1.0,0.0,28.0000,0,0,349207,0.0,1.0,0.0,7.8958,NaN,Southampton,0
29,814,"Mitchell, Mr. Henry Michael",1.0,0.0,70.0000,0,0,C.A. 24580,0.0,0.0,1.0,10.5000,NaN,Southampton,0
30,815,"Mitkoff, Mr. Mito",1.0,0.0,NaN,0,0,349221,0.0,1.0,0.0,7.8958,NaN,Southampton,0
31,816,"Mock, Mr. Philipp Edmund",1.0,0.0,30.0000,1,0,13236,1.0,0.0,0.0,57.7500,C78,Cherbourg,0
32,817,"Mockler, Miss. Helen Mary 'Ellie'",0.0,1.0,NaN,0,0,330980,0.0,1.0,0.0,7.8792,NaN,Queenstown,0
33,818,"Moen, Mr. Sigurd Hansen",1.0,0.0,25.0000,0,0,348123,0.0,1.0,0.0,7.6500,F G73,Southampton,0
34,819,"Molson, Mr. Harry Markland",1.0,0.0,55.0000,0,0,113787,1.0,0.0,0.0,30.5000,C30,Southampton,0
35,820,"Montvila, Rev. Juozas",1.0,0.0,27.0000,0,0,211536,0.0,0.0,1.0,13.0000,NaN,Southampton,0
36,821,"Moor, Master. Meier",1.0,0.0,6.0000,0,1,392096,0.0,1.0,0.0,12.4750,E121,Southampton,0
37,822,"Moor, Mrs. (Beila)",0.0,1.0,27.0000,0,1,392096,0.0,1.0,0.0,12.4750,E121,Southampton,0
38,823,"Moore, Mr. Clarence Bloomfield",1.0,0.0,47.0000,0,0,113796,1.0,0.0,0.0,42.4000,NaN,Southampton,0
39,824,"Moore, Mr. Leonard Charles",1.0,0.0,NaN,0,0,A4. 54510,0.0,1.0,0.0,8.0500,NaN,Southampton,0
40,825,"Moran, Miss. Bertha",0.0,1.0,NaN,1,0,371110,0.0,1.0,0.0,24.1500,NaN,Queenstown,0
41,826,"Moran, Mr. Daniel J",1.0,0.0,NaN,1,0,371110,0.0,1.0,0.0,24.1500,NaN,Queenstown,0
42,827,"Moran, Mr. James",1.0,0.0,NaN,0,0,330877,0.0,1.0,0.0,8.4583,NaN,Queenstown,0
43,828,"Moraweck, Dr. Ernest",1.0,0.0,54.0000,0,0,29011,0.0,0.0,1.0,14.0000,NaN,Southampton,0
44,829,"Morley, Mr. Henry Samuel ('Mr Henry Marshall')",1.0,0.0,39.0000,0,0,250655,0.0,0.0,1.0,26.0000,NaN,Southampton,0
45,830,"Morley, Mr. William",1.0,0.0,34.0000,0,0,364506,0.0,1.0,0.0,8.0500,NaN,Southampton,0
46,831,"Morrow, Mr. Thomas Rowan",1.0,0.0,NaN,0,0,372622,0.0,1.0,0.0,7.7500,NaN,Queenstown,0
47,832,"Moss, Mr. Albert Johan",1.0,0.0,NaN,0,0,312991,0.0,1.0,0.0,7.7750,NaN,Southampton,0
48,833,"Moubarek, Master. Gerios",1.0,0.0,NaN,1,1,2661,0.0,1.0,0.0,15.2458,NaN,Cherbourg,0
49,834,"Moubarek, Master. Halim Gonios ('William George')",1.0,0.0,NaN,1,1,2661,0.0,1.0,0.0,15.2458,NaN,Cherbourg,0
50,835,"Moubarek, Mrs. George (Omine 'Amenia' Alexander)",0.0,1.0,NaN,0,2,2661,0.0,1.0,0.0,15.2458,NaN,Cherbourg,0
51,836,"Moussa, Mrs. (Mantoura Boulos)",0.0,1.0,NaN,0,0,2626,0.0,1.0,0.0,7.2292,NaN,Cherbourg,0
52,837,"Moutal, Mr. Rahamin Haim",1.0,0.0,NaN,0,0,374746,0.0,1.0,0.0,8.0500,NaN,Southampton,0
53,838,"Mudd, Mr. Thomas Charles",1.0,0.0,16.0000,0,0,S.O./P.P. 3,0.0,0.0,1.0,10.5000,NaN,Southampton,0
54,839,"Mullens, Miss. Katherine 'Katie'",0.0,1.0,NaN,0,0,35852,0.0,1.0,0.0,7.7333,NaN,Queenstown,0
55,840,"Mulvihill, Miss. Bertha E",0.0,1.0,24.0000,0,0,382653,0.0,1.0,0.0,7.7500,NaN,Queenstown,0
56,841,"Murdlin, Mr. Joseph",1.0,0.0,NaN,0,0,A./5. 3235,0.0,1.0,0.0,8.0500,NaN,Southampton,0
57,842,"Murphy, Miss. Katherine 'Kate'",0.0,1.0,NaN,1,0,367230,0.0,1.0,0.0,15.5000,NaN,Queenstown,0
58,843,"Murphy, Miss. Margaret Jane",0.0,1.0,NaN,1,0,367230,0.0,1.0,0.0,15.5000,NaN,Queenstown,0
59,844,"Murphy, Miss. Nora",0.0,1.0,NaN,0,0,36568,0.0,1.0,0.0,15.5000,NaN,Queenstown,0
60,845,"Myhrman, Mr. Pehr Fabian Oliver Malkolm",1.0,0.0,18.0000,0,0,347078,0.0,1.0,0.0,7.7500,NaN,Southampton,0
61,846,"Myles, Mr. Thomas Francis",1.0,0.0,62.0000,0,0,240276,0.0,0.0,1.0,9.6875,NaN,Queenstown,0
62,847,"Naidenoff, Mr. Penko",1.0,0.0,22.0000,0,0,349206,0.0,1.0,0.0,7.8958,NaN,Southampton,0
63,848,"Najib, Miss. Adele Kiamie 'Jane'",0.0,1.0,15.0000,0,0,2667,0.0,1.0,0.0,7.2250,NaN,Cherbourg,0
64,849,"Nakid, Miss. Maria ('Mary')",0.0,1.0,1.0000,0,2,2653,0.0,1.0,0.0,15.7417,NaN,Cherbourg,0
65,850,"Nakid, Mr. Sahid",1.0,0.0,20.0000,1,1,2653,0.0,1.0,0.0,15.7417,NaN,Cherbourg,0
66,851,"Nakid, Mrs. Said (Waika 'Mary' Mowad)",0.0,1.0,19.0000,1,1,2653,0.0,1.0,0.0,15.7417,NaN,Cherbourg,0
67,852,"Nancarrow, Mr. William Henry",1.0,0.0,33.0000,0,0,A./5. 3338,0.0,1.0,0.0,8.0500,NaN,Southampton,0
68,853,"Nankoff, Mr. Minko",1.0,0.0,NaN,0,0,349218,0.0,1.0,0.0,7.8958,NaN,Southampton,0
69,854,"Nasr, Mr. Mustafa",1.0,0.0,NaN,0,0,2652,0.0,1.0,0.0,7.2292,NaN,Cherbourg,0
70,855,"Nasser, Mr. Nicholas",1.0,0.0,32.5000,1,0,237736,0.0,0.0,1.0,30.0708,NaN,Cherbourg,0
71,856,"Nasser, Mrs. Nicholas (Adele Achem)",0.0,1.0,14.0000,1,0,237736,0.0,0.0,1.0,30.0708,NaN,Cherbourg,1
72,857,"Natsch, Mr. Charles H",1.0,0.0,37.0000,0,1,PC 17596,1.0,0.0,0.0,29.7000,C118,Cherbourg,0
73,858,"Naughton, Miss. Hannah",0.0,1.0,NaN,0,0,365237,0.0,1.0,0.0,7.7500,NaN,Queenstown,0
74,859,"Navratil, Master. Edmond Roger",1.0,0.0,2.0000,1,1,230080,0.0,0.0,1.0,26.0000,F2,Southampton,0
75,860,"Navratil, Master. Michel M",1.0,0.0,3.0000,1,1,230080,0.0,0.0,1.0,26.0000,F2,Southampton,0
76,861,"Navratil, Mr. Michel ('Louis M Hoffman')",1.0,0.0,36.5000,0,2,230080,0.0,0.0,1.0,26.0000,F2,Southampton,0
77,862,"Nenkoff, Mr. Christo",1.0,0.0,NaN,0,0,349234,0.0,1.0,0.0,7.8958,NaN,Southampton,0
78,863,"Nesson, Mr. Israel",1.0,0.0,26.0000,0,0,244368,0.0,0.0,1.0,13.0000,F2,Southampton,0
79,864,"Newell, Miss. Madeleine",0.0,1.0,31.0000,1,0,35273,1.0,0.0,0.0,113.2750,D36,Cherbourg,1
80,865,"Newell, Miss. Marjorie",0.0,1.0,23.0000,1,0,35273,1.0,0.0,0.0,113.2750,D36,Cherbourg,1
81,866,"Newell, Mr. Arthur Webster",1.0,0.0,58.0000,0,2,35273,1.0,0.0,0.0,113.2750,D48,Cherbourg,0
82,867,"Newsom, Miss. Helen Monypeny",0.0,1.0,19.0000,0,2,11752,1.0,0.0,0.0,26.2833,D47,Southampton,1
83,868,"Nicholls, Mr. Joseph Charles",1.0,0.0,19.0000,1,1,C.A. 33112,0.0,0.0,1.0,36.7500,NaN,Southampton,0
84,869,"Nicholson, Mr. Arthur Ernest",1.0,0.0,64.0000,0,0,693,1.0,0.0,0.0,26.0000,NaN,Southampton,0
85,870,"Nicola-Yarred, Master. Elias",1.0,0.0,12.0000,1,0,2651,0.0,1.0,0.0,11.2417,NaN,Cherbourg,0
86,871,"Nicola-Yarred, Miss. Jamila",0.0,1.0,14.0000,1,0,2651,0.0,1.0,0.0,11.2417,NaN,Cherbourg,0
87,872,"Nieminen, Miss. Manta Josefina",0.0,1.0,29.0000,0,0,3101297,0.0,1.0,0.0,7.9250,NaN,Southampton,0
88,873,"Niklasson, Mr. Samuel",1.0,0.0,28.0000,0,0,363611,0.0,1.0,0.0,8.0500,NaN,Southampton,0
89,874,"Nilsson, Miss. Berta Olivia",0.0,1.0,18.0000,0,0,347066,0.0,1.0,0.0,7.7750,NaN,Southampton,0
90,875,"Nilsson, Miss. Helmina Josefina",0.0,1.0,26.0000,0,0,347470,0.0,1.0,0.0,7.8542,NaN,Southampton,0
91,876,"Nilsson, Mr. August Ferdinand",1.0,0.0,21.0000,0,0,350410,0.0,1.0,0.0,7.8542,NaN,Southampton,0
92,877,"Nirva, Mr. Iisakki Antino Aijo",1.0,0.0,41.0000,0,0,SOTON/O2 3101272,0.0,1.0,0.0,7.1250,NaN,Southampton,0
93,878,"Niskanen, Mr. Juha",1.0,0.0,39.0000,0,0,STON/O 2. 3101289,0.0,1.0,0.0,7.9250,NaN,Southampton,0
94,879,"Norman, Mr. Robert Douglas",1.0,0.0,28.0000,0,0,218629,0.0,0.0,1.0,13.5000,NaN,Southampton,0
95,880,"Nosworthy, Mr. Richard Cater",1.0,0.0,21.0000,0,0,A/4. 39886,0.0,1.0,0.0,7.8000,NaN,Southampton,0
96,881,"Nourney, Mr. Alfred ('Baron von Drachstedt')",1.0,0.0,20.0000,0,0,SC/PARIS 2166,0.0,0.0,1.0,13.8625,D38,Cherbourg,0
97,882,"Novel, Mr. Mansouer",1.0,0.0,28.5000,0,0,2697,0.0,1.0,0.0,7.2292,NaN,Cherbourg,0
98,883,"Nye, Mrs. (Elizabeth Ramell)",0.0,1.0,29.0000,0,0,C.A. 29395,0.0,0.0,1.0,10.5000,F33,Southampton,1
99,884,"Nysten, Miss. Anna Sofia",0.0,1.0,22.0000,0,0,347081,0.0,1.0,0.0,7.7500,NaN,Southampton,0
100,885,"Nysveen, Mr. Johan Hansen",1.0,0.0,61.0000,0,0,345364,0.0,1.0,0.0,6.2375,NaN,Southampton,0
101,886,"O'Brien, Mr. Thomas",1.0,0.0,NaN,1,0,370365,0.0,1.0,0.0,15.5000,NaN,Queenstown,0
102,887,"O'Brien, Mr. Timothy",1.0,0.0,NaN,0,0,330979,0.0,1.0,0.0,7.8292,NaN,Queenstown,0
103,888,"O'Brien, Mrs. Thomas (Johanna 'Hannah' Godfrey)",0.0,1.0,NaN,1,0,370365,0.0,1.0,0.0,15.5000,NaN,Queenstown,0
104,889,"O'Connell, Mr. Patrick D",1.0,0.0,NaN,0,0,334912,0.0,1.0,0.0,7.7333,NaN,Queenstown,0
105,890,"O'Connor, Mr. Maurice",1.0,0.0,NaN,0,0,371060,0.0,1.0,0.0,7.7500,NaN,Queenstown,0
106,891,"O'Connor, Mr. Patrick",1.0,0.0,NaN,0,0,366713,0.0,1.0,0.0,7.7500,NaN,Queenstown,0
107,892,"Odahl, Mr. Nils Martin",1.0,0.0,23.0000,0,0,7267,0.0,1.0,0.0,9.2250,NaN,Southampton,0
108,893,"O'Donoghue, Ms. Bridget",0.0,1.0,NaN,0,0,364856,0.0,1.0,0.0,7.7500,NaN,Queenstown,0
109,894,"O'Driscoll, Miss. Bridget",0.0,1.0,NaN,0,0,14311,0.0,1.0,0.0,7.7500,NaN,Queenstown,0
110,895,"O'Dwyer, Miss. Ellen 'Nellie'",0.0,1.0,NaN,0,0,330959,0.0,1.0,0.0,7.8792,NaN,Queenstown,0
111,896,"Ohman, Miss. Velin",0.0,1.0,22.0000,0,0,347085,0.0,1.0,0.0,7.7750,NaN,Southampton,0
112,897,"O'Keefe, Mr. Patrick",1.0,0.0,NaN,0,0,368402,0.0,1.0,0.0,7.7500,NaN,Queenstown,0
113,898,"O'Leary, Miss. Hanora 'Norah'",0.0,1.0,NaN,0,0,330919,0.0,1.0,0.0,7.8292,NaN,Queenstown,0
114,899,"Oliva y Ocana, Dona. Fermina",0.0,1.0,39.0000,0,0,PC 17758,1.0,0.0,0.0,108.9000,C105,Cherbourg,1
115,900,"Olsen, Master. Artur Karl",1.0,0.0,9.0000,0,1,C 17368,0.0,1.0,0.0,3.1708,NaN,Southampton,0
116,901,"Olsen, Mr. Henry Margido",1.0,0.0,28.0000,0,0,C 4001,0.0,1.0,0.0,22.5250,NaN,Southampton,0
117,902,"Olsen, Mr. Karl Siegwart Andreas",1.0,0.0,42.0000,0,1,4579,0.0,1.0,0.0,8.4042,NaN,Southampton,0
118,903,"Olsen, Mr. Ole Martin",1.0,0.0,NaN,0,0,Fa 265302,0.0,1.0,0.0,7.3125,NaN,Southampton,0
119,904,"Olsson, Miss. Elina",0.0,1.0,31.0000,0,0,350407,0.0,1.0,0.0,7.8542,NaN,Southampton,0
120,905,"Olsson, Mr. Nils Johan Goransson",1.0,0.0,28.0000,0,0,347464,0.0,1.0,0.0,7.8542,NaN,Southampton,0
121,906,"Olsson, Mr. Oscar Wilhelm",1.0,0.0,32.0000,0,0,347079,0.0,1.0,0.0,7.7750,NaN,Southampton,0
122,907,"Olsvigen, Mr. Thor Anderson",1.0,0.0,20.0000,0,0,6563,0.0,1.0,0.0,9.2250,NaN,Southampton,0
123,908,"Omont, Mr. Alfred Fernand",1.0,0.0,NaN,0,0,F.C. 12998,1.0,0.0,0.0,25.7417,NaN,Cherbourg,0
124,909,"Oreskovic, Miss. Jelka",0.0,1.0,23.0000,0,0,315085,0.0,1.0,0.0,8.6625,NaN,Southampton,0
125,910,"Oreskovic, Miss. Marija",0.0,1.0,20.0000,0,0,315096,0.0,1.0,0.0,8.6625,NaN,Southampton,0
126,911,"Oreskovic, Mr. Luka",1.0,0.0,20.0000,0,0,315094,0.0,1.0,0.0,8.6625,NaN,Southampton,0
127,912,"Osen, Mr. Olaf Elon",1.0,0.0,16.0000,0,0,7534,0.0,1.0,0.0,9.2167,NaN,Southampton,0
128,913,"Osman, Mrs. Mara",0.0,1.0,31.0000,0,0,349244,0.0,1.0,0.0,8.6833,NaN,Southampton,0
129,914,"Ostby, Miss. Helene Ragnhild",0.0,1.0,22.0000,0,1,113509,1.0,0.0,0.0,61.9792,B36,Cherbourg,1
130,915,"Ostby, Mr. Engelhart Cornelius",1.0,0.0,65.0000,0,1,113509,1.0,0.0,0.0,61.9792,B30,Cherbourg,0
131,916,"O'Sullivan, Miss. Bridget Mary",0.0,1.0,NaN,0,0,330909,0.0,1.0,0.0,7.6292,NaN,Queenstown,0
132,917,"Otter, Mr. Richard",1.0,0.0,39.0000,0,0,28213,0.0,0.0,1.0,13.0000,NaN,Southampton,0
133,918,"Ovies y Rodriguez, Mr. Servando",1.0,0.0,28.5000,0,0,PC 17562,1.0,0.0,0.0,27.7208,D43,Cherbourg,0
134,919,"Oxenham, Mr. Percy Thomas",1.0,0.0,22.0000,0,0,W./C. 14260,0.0,0.0,1.0,10.5000,NaN,Southampton,0
135,920,"Padro y Manent, Mr. Julian",1.0,0.0,NaN,0,0,SC/PARIS 2146,0.0,0.0,1.0,13.8625,NaN,Cherbourg,0
136,921,"Pain, Dr. Alfred",1.0,0.0,23.0000,0,0,244278,0.0,0.0,1.0,10.5000,NaN,Southampton,0
137,922,"Pallas y Castello, Mr. Emilio",1.0,0.0,29.0000,0,0,SC/PARIS 2147,0.0,0.0,1.0,13.8583,NaN,Cherbourg,0
138,923,"Palsson, Master. Gosta Leonard",1.0,0.0,2.0000,3,1,349909,0.0,1.0,0.0,21.0750,NaN,Southampton,0
139,924,"Palsson, Master. Paul Folke",1.0,0.0,6.0000,3,1,349909,0.0,1.0,0.0,21.0750,NaN,Southampton,0
140,925,"Palsson, Miss. Stina Viola",0.0,1.0,3.0000,3,1,349909,0.0,1.0,0.0,21.0750,NaN,Southampton,0
141,926,"Palsson, Miss. Torborg Danira",0.0,1.0,8.0000,3,1,349909,0.0,1.0,0.0,21.0750,NaN,Southampton,0
142,927,"Palsson, Mrs. Nils (Alma Cornelia Berglund)",0.0,1.0,29.0000,0,4,349909,0.0,1.0,0.0,21.0750,NaN,Southampton,0
143,928,"Panula, Master. Eino Viljami",1.0,0.0,1.0000,4,1,3101295,0.0,1.0,0.0,39.6875,NaN,Southampton,0
144,929,"Panula, Master. Juha Niilo",1.0,0.0,7.0000,4,1,3101295,0.0,1.0,0.0,39.6875,NaN,Southampton,0
145,930,"Panula, Master. Urho Abraham",1.0,0.0,2.0000,4,1,3101295,0.0,1.0,0.0,39.6875,NaN,Southampton,0
146,931,"Panula, Mr. Ernesti Arvid",1.0,0.0,16.0000,4,1,3101295,0.0,1.0,0.0,39.6875,NaN,Southampton,0
147,932,"Panula, Mr. Jaako Arnold",1.0,0.0,14.0000,4,1,3101295,0.0,1.0,0.0,39.6875,NaN,Southampton,0
148,933,"Panula, Mrs. Juha (Maria Emilia Ojala)",0.0,1.0,41.0000,0,5,3101295,0.0,1.0,0.0,39.6875,NaN,Southampton,0
149,934,"Parker, Mr. Clifford Richard",1.0,0.0,28.0000,0,0,SC 14888,0.0,0.0,1.0,10.5000,NaN,Southampton,0
150,935,"Parkes, Mr. Francis 'Frank'",1.0,0.0,NaN,0,0,239853,0.0,0.0,1.0,0.0000,NaN,Southampton,0
151,936,"Parr, Mr. William Henry Marsh",1.0,0.0,NaN,0,0,112052,1.0,0.0,0.0,0.0000,NaN,Southampton,0
152,937,"Parrish, Mrs. (Lutie Davis)",0.0,1.0,50.0000,0,1,230433,0.0,0.0,1.0,26.0000,NaN,Southampton,1
153,938,"Partner, Mr. Austen",1.0,0.0,45.5000,0,0,113043,1.0,0.0,0.0,28.5000,C124,Southampton,0
154,939,"Pasic, Mr. Jakob",1.0,0.0,21.0000,0,0,315097,0.0,1.0,0.0,8.6625,NaN,Southampton,0
155,940,"Patchett, Mr. George",1.0,0.0,19.0000,0,0,358585,0.0,1.0,0.0,14.5000,NaN,Southampton,0
156,941,"Paulner, Mr. Uscher",1.0,0.0,NaN,0,0,3411,0.0,1.0,0.0,8.7125,NaN,Cherbourg,0
157,942,"Pavlovic, Mr. Stefo",1.0,0.0,32.0000,0,0,349242,0.0,1.0,0.0,7.8958,NaN,Southampton,0
158,943,"Payne, Mr. Vivian Ponsonby",1.0,0.0,23.0000,0,0,12749,1.0,0.0,0.0,93.5000,B24,Southampton,0
159,944,"Peacock, Master. Alfred Edward",1.0,0.0,0.7500,1,1,SOTON/O.Q. 3101315,0.0,1.0,0.0,13.7750,NaN,Southampton,0
160,945,"Peacock, Miss. Treasteall",0.0,1.0,3.0000,1,1,SOTON/O.Q. 3101315,0.0,1.0,0.0,13.7750,NaN,Southampton,0
161,946,"Peacock, Mrs. Benjamin (Edith Nile)",0.0,1.0,26.0000,0,2,SOTON/O.Q. 3101315,0.0,1.0,0.0,13.7750,NaN,Southampton,0
162,947,"Pearce, Mr. Ernest",1.0,0.0,NaN,0,0,343271,0.0,1.0,0.0,7.0000,NaN,Southampton,0
163,948,"Pears, Mr. Thomas Clinton",1.0,0.0,29.0000,1,0,113776,1.0,0.0,0.0,66.6000,C2,Southampton,0
164,949,"Pears, Mrs. Thomas (Edith Wearne)",0.0,1.0,22.0000,1,0,113776,1.0,0.0,0.0,66.6000,C2,Southampton,1
165,950,"Pedersen, Mr. Olaf",1.0,0.0,NaN,0,0,345498,0.0,1.0,0.0,7.7750,NaN,Southampton,0
166,951,"Peduzzi, Mr. Joseph",1.0,0.0,NaN,0,0,A/5 2817,0.0,1.0,0.0,8.0500,NaN,Southampton,0
167,952,"Pekoniemi, Mr. Edvard",1.0,0.0,21.0000,0,0,STON/O 2. 3101294,0.0,1.0,0.0,7.9250,NaN,Southampton,0
168,953,"Peltomaki, Mr. Nikolai Johannes",1.0,0.0,25.0000,0,0,STON/O 2. 3101291,0.0,1.0,0.0,7.9250,NaN,Southampton,0
169,954,"Penasco y Castellana, Mr. Victor de Satode",1.0,0.0,18.0000,1,0,PC 17758,1.0,0.0,0.0,108.9000,C65,Cherbourg,0
170,955,"Penasco y Castellana, Mrs. Victor de Satode (M...",0.0,1.0,17.0000,1,0,PC 17758,1.0,0.0,0.0,108.9000,C65,Cherbourg,1
171,956,"Pengelly, Mr. Frederick William",1.0,0.0,19.0000,0,0,28665,0.0,0.0,1.0,10.5000,NaN,Southampton,0
172,957,"Perkin, Mr. John Henry",1.0,0.0,22.0000,0,0,A/5 21174,0.0,1.0,0.0,7.2500,NaN,Southampton,0
173,958,"Pernot, Mr. Rene",1.0,0.0,NaN,0,0,SC/PARIS 2131,0.0,0.0,1.0,15.0500,NaN,Cherbourg,0
174,959,"Perreault, Miss. Anne",0.0,1.0,30.0000,0,0,12749,1.0,0.0,0.0,93.5000,B73,Southampton,1
175,960,"Persson, Mr. Ernst Ulrik",1.0,0.0,25.0000,1,0,347083,0.0,1.0,0.0,7.7750,NaN,Southampton,0
176,961,"Peruschitz, Rev. Joseph Maria",1.0,0.0,41.0000,0,0,237393,0.0,0.0,1.0,13.0000,NaN,Southampton,0
177,962,"Peter, Master. Michael J",1.0,0.0,NaN,1,1,2668,0.0,1.0,0.0,22.3583,NaN,Cherbourg,0
178,963,"Peter, Miss. Anna",0.0,1.0,NaN,1,1,2668,0.0,1.0,0.0,22.3583,F E69,Cherbourg,0
179,964,"Peter, Mrs. Catherine (Catherine Rizk)",0.0,1.0,NaN,0,2,2668,0.0,1.0,0.0,22.3583,NaN,Cherbourg,0
180,965,"Peters, Miss. Katie",0.0,1.0,NaN,0,0,330935,0.0,1.0,0.0,8.1375,NaN,Queenstown,0
181,966,"Petersen, Mr. Marius",1.0,0.0,24.0000,0,0,342441,0.0,1.0,0.0,8.0500,NaN,Southampton,0
182,967,"Petranec, Miss. Matilda",0.0,1.0,28.0000,0,0,349245,0.0,1.0,0.0,7.8958,NaN,Southampton,0
183,968,"Petroff, Mr. Nedelio",1.0,0.0,19.0000,0,0,349212,0.0,1.0,0.0,7.8958,NaN,Southampton,0
184,969,"Petroff, Mr. Pastcho ('Pentcho')",1.0,0.0,NaN,0,0,349215,0.0,1.0,0.0,7.8958,NaN,Southampton,0
185,970,"Petterson, Mr. Johan Emil",1.0,0.0,25.0000,1,0,347076,0.0,1.0,0.0,7.7750,NaN,Southampton,0
186,971,"Pettersson, Miss. Ellen Natalia",0.0,1.0,18.0000,0,0,347087,0.0,1.0,0.0,7.7750,NaN,Southampton,0
187,972,"Peuchen, Major. Arthur Godfrey",1.0,0.0,52.0000,0,0,113786,1.0,0.0,0.0,30.5000,C104,Southampton,0
188,973,"Phillips, Miss. Alice Frances Louisa",0.0,1.0,21.0000,0,1,S.O./P.P. 2,0.0,0.0,1.0,21.0000,NaN,Southampton,1
189,974,"Phillips, Miss. Kate Florence ('Mrs Kate Louis...",0.0,1.0,19.0000,0,0,250655,0.0,0.0,1.0,26.0000,NaN,Southampton,1
190,975,"Phillips, Mr. Escott Robert",1.0,0.0,43.0000,0,1,S.O./P.P. 2,0.0,0.0,1.0,21.0000,NaN,Southampton,0
191,976,"Pickard, Mr. Berk (Berk Trembisky)",1.0,0.0,32.0000,0,0,SOTON/O.Q. 392078,0.0,1.0,0.0,8.0500,E10,Southampton,0
192,977,"Pinsky, Mrs. (Rosa)",0.0,1.0,32.0000,0,0,234604,0.0,0.0,1.0,13.0000,NaN,Southampton,1
193,978,"Plotcharsky, Mr. Vasil",1.0,0.0,NaN,0,0,349227,0.0,1.0,0.0,7.8958,NaN,Southampton,0
194,979,"Pokrnic, Mr. Mate",1.0,0.0,17.0000,0,0,315095,0.0,1.0,0.0,8.6625,NaN,Southampton,0
195,980,"Pokrnic, Mr. Tome",1.0,0.0,24.0000,0,0,315092,0.0,1.0,0.0,8.6625,NaN,Southampton,0
196,981,"Ponesell, Mr. Martin",1.0,0.0,34.0000,0,0,250647,0.0,0.0,1.0,13.0000,NaN,Southampton,0
197,982,"Portaluppi, Mr. Emilio Ilario Giuseppe",1.0,0.0,30.0000,0,0,C.A. 34644,0.0,0.0,1.0,12.7375,NaN,Cherbourg,0

7. You can test the accuracy of that model as follows:

In [39]:
fitted_model.accuracy(tagged_train_table)

0.7796178343949045