# Regression

This tutorial uses safeds on **house sales data** to predict house prices.

1. Load your data into a `Table`, the data is available under `docs/tutorials/data/pricing.csv`:

In [1]:
from safeds.data.tabular.containers import Table

pricing = Table.from_csv_file("data/house_sales.csv")
# For visualisation purposes we only print out the first 15 rows.
pricing.slice_rows(0,15)

+-----+------+-------+-----+---+----------------+---------------+------------------+--------+
|  id | year | month | day | … | year_renovated | sqft_lot_15nn | sqft_living_15nn |  price |
| --- |  --- |   --- | --- |   |            --- |           --- |              --- |    --- |
| i64 |  i64 |   i64 | i64 |   |            i64 |           i64 |              i64 |    i64 |
+===========================================================================================+
|   0 | 2014 |     5 |   2 | … |              0 |          9176 |             2310 | 285000 |
|   1 | 2014 |     5 |   2 | … |              0 |          8595 |             1750 | 285000 |
|   2 | 2014 |     5 |   2 | … |              0 |          9000 |             1850 | 440000 |
|   3 | 2014 |     5 |   2 | … |              0 |          8942 |             1260 | 435000 |
|   4 | 2014 |     5 |   2 | … |              0 |         10836 |             1450 | 430000 |
|   … |    … |     … |   … | … |              … |             … |                … |      … |
|  10 | 2014 |     5 |   2 | … |              0 |         24967 |             4050 | 604000 |
|  11 | 2014 |     5 |   2 | … |              0 |         16215 |             1450 | 335000 |
|  12 | 2014 |     5 |   2 | … |              0 |         35100 |             2340 | 437500 |
|  13 | 2014 |     5 |   2 | … |              0 |         39299 |             2390 | 630000 |
|  14 | 2014 |     5 |   2 | … |              0 |         48351 |             2820 | 675000 |
+-----+------+-------+-----+---+----------------+---------------+------------------+--------+

2. Split the house sales dataset into two tables. A training set, that we will use later to implement a training model to predict the house price, containing 60% of the data, and a testing set containing the rest of the data.
Delete the column `price` from the test set, to be able to predict it later:

In [2]:
train_table, testing_table = pricing.split_rows(0.60)

test_table = testing_table.remove_columns(["price"]).shuffle_rows()

3. Mark the `price` `Column` as the target variable to be predicted. Include the `id` column only as an extra column, which is completely ignored by the model:

In [3]:
extra_names = ["id"]

train_tabular_dataset = train_table.to_tabular_dataset("price", extra_names=extra_names)

4. Use `Decision Tree` regressor as a model for the regression. Pass the "train_tabular_dataset" table to the fit function of the model:

In [4]:
from safeds.ml.classical.regression import DecisionTreeRegressor

model = DecisionTreeRegressor()
fitted_model = model.fit(train_tabular_dataset)

5. Use the fitted decision tree regression model, that we trained on the training dataset to predict the price of a house in the test dataset.

In [5]:
prediction = fitted_model.predict(
    test_table
)
# For visualisation purposes we only print out the first 15 rows.
prediction.to_table().slice_rows(start=0, length=15)

+-------+------+-------+-----+---+----------------+---------------+----------------+---------------+
|    id | year | month | day | … | year_renovated | sqft_lot_15nn | sqft_living_15 |         price |
|   --- |  --- |   --- | --- |   |            --- |           --- |             nn |           --- |
|   i64 |  i64 |   i64 | i64 |   |            i64 |           i64 |            --- |           f64 |
|       |      |       |     |   |                |               |            i64 |               |
+==================================================================================================+
| 20953 | 2015 |     4 |  30 | … |           2013 |          4410 |           1970 |  909625.00000 |
| 21205 | 2015 |     5 |   5 | … |              0 |          8187 |           2300 |  776695.00000 |
|  1360 | 2014 |     5 |  23 | … |              0 |          5000 |           1290 |  544614.75000 |
| 15230 | 2015 |     1 |  21 | … |              0 |        217364 |           2580 |  867816.66667 |
| 12893 | 2014 |    11 |  21 | … |              0 |          8190 |           1430 |  227493.75000 |
|     … |    … |     … |   … | … |              … |             … |              … |             … |
|  8807 | 2014 |     9 |  12 | … |              0 |          6060 |           2680 |  499355.20000 |
| 13089 | 2014 |    11 |  25 | … |              0 |          5000 |           1760 |  492833.33333 |
| 12016 | 2014 |    11 |   6 | … |              0 |         13001 |           4750 | 1352450.00000 |
| 17314 | 2015 |     3 |  10 | … |              0 |          9375 |           1880 |  523916.66667 |
|  4030 | 2014 |     7 |   1 | … |           2015 |          6885 |           2180 |  622937.50000 |
+-------+------+-------+-----+---+----------------+---------------+----------------+---------------+

6. You can test the mean absolute error of that model with the initial testing_table as follows:

In [6]:
test_tabular_dataset = testing_table.to_tabular_dataset("price", extra_names=extra_names)

fitted_model.mean_absolute_error(test_tabular_dataset)

93590.45902700891